@use '../custom' as *;
.btn-Eliminar{
    @extend .btn, .btn-danger, .shadow-lg, .p-1;
}
.btn-Modificar{
    @extend .btn, .btn-warning, .shadow-lg, .p-1;
}
.btn-Nuevo{
    @extend .btn, .bg-success, .shadow-lg, .fw-semibold, .text-white, .p-1;
}
.btn-Regresar{
    @extend .btn, .text-decoration-none, .btn-secondary, .shadow, .text-uppercase, .fw-semibold;
}
.btn-Submit{
    @extend .btn, .btn-primary , .shadow, .text-uppercase, .fw-semibold;
}
.Alerta{
    @extend .container, .bg-danger, .shadow, .text-white, .fw-semibold, .p-2, .mt-2, .text-center;
}
.btn-Subir{
    @extend .btn, .btn-primary, .text-white, .p-1, .rounded, .shadow, .fs-5;
}
.btn-Visualizar{
    @extend .btn, .btn-secondary, .p-1, .text-white, .rounded, .fs-5, .shadow;
}
.Cont-Cent{
    @extend .d-flex, .justify-content-between, .align-items-center;
}
.btn-NoMostrar{
    @extend .bg-danger, .p-1, .fs-5, .rounded, .text-white, .shadow;
}

.btn-01{
    background-color: $Azul-Profundo;
    @extend .btn, .p-1, .fw-semibold, .text-white, .shadow-lg;
}
.btn-01:hover{
    background-color: $Azul-Profundo-hover;
}
.btn-02{
    background-color: $Ambar-hover;
    @extend .btn, .p-1, .fw-semibold, .shadow-lg;
}
.btn-02:hover{
    background-color: $Ambar;
}
.btn-03{
    background-color: $Verde;
    @extend .btn, .p-1, .fw-semibold, .text-white, .shadow-lg;
}
.btn-03:hover{
    background-color: $Verde-hover;
}
.btn-04{
    background-color: $Rojo;
    @extend .btn, .p-1, .fw-semibold, .text-white, .shadow-lg;
}
.btn-04:hover{
    background-color: $Rojo-hover;
}
.btn-05{
    background-color: $Morado;
    @extend .btn, .p-1, .fw-semibold, .text-white, .shadow-lg;
}
.btn-05:hover{
    background-color: $Morado-hover;
}
.btn-06{
    background-color: $Gris;
    @extend .btn, .p-1, .fw-semibold, .text-white, .shadow-lg;
}
.btn-06:hover{
    background-color: $Gris-hover;
}
.btn-07{
    background-color: $Naranja;
    @extend .btn, .p-1, .fw-semibold, .text-white, .shadow-lg;
}
.btn-07:hover{
    background-color: $Naranja-hover;
}
.btn-08{
    background-color: $Lima;
    @extend .btn, .p-1, .fw-semibold, .text-white, .shadow-lg;
}
.btn-08:hover{
    background-color: $Lima-hover;
}
.btn-09{
    background-color: $Oscuro;
    @extend .btn, .p-1, .fw-semibold, .text-white, .shadow-lg;
}
.btn-09:hover{
    background-color: $Oscuro-hover;
}
.btn-10{
    background-color: $Azul;
    @extend .btn, .p-1, .fw-semibold, .text-white, .shadow-lg;
}
.btn-10:hover{
    background-color: $Azul-hover;
}
.btn-11{
    background-color: $Azul-Profundo;
    @extend .btn, .p-1, .fw-semibold, .text-white, .shadow-lg;
}
.btn-11:hover{
    background-color: $Azul-Profundo-hover;
}
.btn-12{
    background-color: $Ambar-hover;
    @extend .btn, .p-1, .fw-semibold, .shadow-lg;
}
.btn-12:hover{
    background-color: $Ambar;
}
.btn-13{
    background-color: $Verde;
    @extend .btn, .p-1, .fw-semibold, .text-white, .shadow-lg;
}
.btn-13:hover{
    background-color: $Verde-hover;
}
.btn-14{
    background-color: $Rojo;
    @extend .btn, .p-1, .fw-semibold, .text-white, .shadow-lg;
}
.btn-14:hover{
    background-color: $Rojo-hover;
}
.btn-15{
    background-color: $Morado;
    @extend .btn, .p-1, .fw-semibold, .text-white, .shadow-lg;
}
.btn-15:hover{
    background-color: $Morado-hover;
}
.btn-16{
    background-color: $Gris;
    @extend .btn, .p-1, .fw-semibold, .text-white, .shadow-lg;
}
.btn-16:hover{
    background-color: $Gris-hover;
}
.btn-17{
    background-color: $Naranja;
    @extend .btn, .p-1, .fw-semibold, .text-white, .shadow-lg;
}
.btn-17:hover{
    background-color: $Naranja-hover;
}
.btn-18{
    background-color: $Lima;
    @extend .btn, .p-1, .fw-semibold, .text-white, .shadow-lg;
}
.btn-18:hover{
    background-color: $Lima-hover;
}
.btn-19{
    background-color: $Oscuro;
    @extend .btn, .p-1, .fw-semibold, .text-white, .shadow-lg;
}
.btn-19:hover{
    background-color: $Oscuro-hover;
}
.btn-20{
    background-color: $Azul;
    @extend .btn, .p-1, .fw-semibold, .text-white, .shadow-lg;
}
.btn-20:hover{
    background-color: $Azul-hover;
}

.btn-Alta{
    background-color: $Lima;
    @extend .btn, .p-1, .fw-semibold, .text-white, .shadow-lg;
}
.btn-Alta:hover{
    background-color: $Lima-hover;
}
.btn-Modi{
    background-color: $Naranja;
    @extend .btn, .p-1, .fw-semibold, .text-white, .shadow-lg;
}
.btn-Modi:hover{
    background-color: $Naranja-hover;
}
.btn-Elim{
    background-color: $Rojo;
    @extend .btn, .p-1, .fw-semibold, .text-white, .shadow-lg;
}
.btn-Elim:hover{
    background-color: $Rojo-hover;
}
.btn-Regr{
    background-color: $Gris;
    @extend .btn, .p-1, .fw-semibold, .text-white, .shadow-lg;
}
.btn-Regr:hover{
    background-color: $Gris-hover;
}
